
/* Fonts */

@font-face {
    font-family: 'nonserifregular';
    src: url('assets/cms/fonts/nonserif-webfont.eot');
    src: url('assets/cms/fonts/nonserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/cms/fonts/nonserif-webfont.woff') format('woff'),
         url('assets/cms/fonts/nonserif-webfont.ttf') format('truetype'),
         url('assets/cms/fonts/nonserif-webfont.svg#nonserifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}